@font-face{
    font-family: 'raleway-black';
    src: url(./font/Raleway-Black.ttf);}
@font-face{
    font-family: 'raleway-semibold';
    src:url(./font/Raleway-SemiBold.ttf)
}
@font-face{
    font-family: 'raleway-light';
    src:url(./font/Raleway-Light.ttf)
}
body{
    font-family:'raleway' ;
    margin:0 auto;
       
    }

a{text-decoration: none;}
/* *************************** */
/* header */
/* *************************** */
div.title{
    width: 90%;
    margin:0 auto;
    position:relative;
    margin-top:2rem;
    }



div.title img{
    width: 6rem;
    margin-left: 1rem;}


.title nav ul{
    display: flex;
    flex-wrap: wrap;
    margin-top:1.5rem;
    }
    
.title ul li{
    width: 50%;
    padding-bottom:0.5rem;
    text-align: center;
    font-size:0.9rem}



 nav ul li:last-child{
    text-align: right;
    position:absolute;
    top:1rem;
    right:1rem;
    line-height:2rem;
    font-family:'raleway-black';
}    



nav ul li:first-child{
    border-bottom: 3px blue solid;
}

@media (min-width:1200px){
    body{
        background-color:beige;
    }
    .title{
        display:flex;
        justify-content: space-between;
    }
    .title nav{
        width:35%;
    }
    .title nav ul li{
        width:33.3%
    }
    nav ul li:last-child{
        position:static;
        line-height: 1rem;
        text-align: center;
    }
}

h1.top{
    margin:0 auto;
    width:90%;
    text-align:left;
    line-height: 2rem;
    font-family:'raleway-black';
    margin-top:2rem;
    font-size: 1.4rem;
    }

p.villes{
    font-family:raleway-light;
    font-size:1.0rem;
    width: 90%;
    margin:0 auto;
    margin-top:0.9rem;
}

form{display: flex;
    height: 3rem;
    width: 90%;
    margin-left:5%;
    
    
    border-radius: 0.5rem;
    background-color: #F2F2F2;
    border:1px #f2f2f2 solid;
    margin-top:2rem;
    }
@media (min-width:1200px){
    form{
        max-width:400px;
        margin-left:5%;
    }
}

form a{
    display: inline-block;
    height: 3rem;
    width: 15%;
    font-size:1.25rem;
    text-align: center;
    margin-top:1rem;
    color:black;}
    
form input[type='text'] {
    
    font-family: 'raleway-black';
    width: 70%;
    font-size: 1.125rem;
    border:none;
    font-size: 1.185rem;
    text-indent: 1rem;

}

#butt{
    color:white;
    background-color: blue;
    font-size: 1.2rem;
    margin-right:0;
    width: 15%;
    border:none;
    border-radius:0 0.5rem 0.5rem 0;
    }
div.filtre{
    width: 90%;
    
    margin:auto;
}
h2.filtre{
    margin-left:0;
    font-family:'raleway-black';
    font-size:1.125rem;
    margin:0 auto;
    margin-top:3rem;
    margin-bottom:1.3rem;
    
}

ul.type-hotel{
    margin:0 auto;
    width: 100%;
    display:flex;
    
    flex-wrap: wrap;
    font-size:1.025rem;
    font-weight: bold;}

ul.type-hotel li{
    border:2px #F2F2F2 solid;
    padding-right: 0.5rem;
    padding-left:0rem;
    height: 3rem;
    line-height: 3rem;
    margin-bottom: 1rem;
    margin-right:0.5rem;
    border-radius: 1.5rem;
        }

@media (min-width:1200px){
    div.filtre{
        width: 90%;
        margin-left:5%;
        background-color:beige;
        display:flex;
        margin-top:2.5rem
    }
    h2.filtre{
        margin-top:1rem;
        margin-left:0;
        margin-right:2rem
    }

    ul.type-hotel {
        flex:none;

    }
    
    ul.type-hotel li{
        margin-right:1.2rem;
    }
    
    
    
   
    
    
}
ul.type-hotel li a{
    color:black;
    font-family: 'raleway-black';
}

ul.type-hotel li i{
    margin-right:0.4rem;
    border:1px transparent solid;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    border-radius: 1.5rem;
    background-color:#DEEBFF ;
    color:#0065FC      
}
div.information{
    width: 90%;
    margin:2rem auto;
    font-size: 1rem;
    position: relative;
}
div.information p{
    margin-left: 3rem;
    line-height: 1.275rem;
}
div.information i{
    position: absolute;
    top:-0.6rem;
    left:0.5rem;
    display:inline-block;
    width: 2rem;
    height: 2rem;
    border:1px #DEEBFF solid;
    text-align: center;
    line-height:2rem ;
    border-radius: 2rem;
    color:#0065FC;
    font-size: 0.7rem;
    }
/* ************************************* */
/* la section de 'les plus populaires */
/* ************************************* */
div.plus-populaire{
    width: 90%;
    background-color:#F2F2F2;
    margin:auto;
    box-shadow: 0 0 3px rgba(0, 0,0,0.2);
    padding-bottom:1.2rem;
    margin-bottom: 3rem;
}

div.titre-hotel{
    width: 90%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    padding:2.5rem 0;
    font-size: 1.3rem;
    font-family: 'raleway-black';
 }   
        
div.hotel-populaire{
    width: 85%;
   aspect-ratio: 66/27;
    display: flex;
    margin:auto;
    overflow: hidden;
    justify-content: space-between;
    margin-bottom:1.5rem;
 
    border-radius:10px;
    border: 4px white solid;
    background-color: white;
}

div.hotel-populaire img{
    width:39%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px 0 0 4px;
 }   
    
div.desc{
    width: 55%;
    height: 100%;
    position:relative;
    padding-top:0.8rem;
    font-size:0.9rem;
    border-radius:0 1rem 1rem 0;
    background-color:white;
}  

div.desc h2{
    font-family:'raleway-black';
    margin-bottom:0.6rem;
    font-size:1rem;
    line-height: 1.2rem;
    }

div.desc p.star{
    position:absolute;
    bottom:1.4rem;
}   

div.desc p i{
    color:#0065FC;
    
}

div.image{
    width: 100%;
    aspect-ratio: 325/115;
    margin:0 auto;
    overflow: hidden;
    border-radius: 1.2rem 1.2rem 0 0;
}

div.image img{
    width:100%;
    object-fit: cover;
    display:block;
    position:relative;
    top:-65px;
}

/* ******************************* */
/* la section de 'hebergement a marseille */
/* ******************************* */
.hebergement-marseille p.title{
    
    margin:0 auto;
   width: 90%;
    padding: 2.5rem 0;
    font-family: 'raleway-black';
    font-size:1.3rem;
}

.hebergement-marseille h2,
.hebergement-marseille p
{
    width: 95%;
    margin:0 auto;
    
    margin-bottom: 0.7rem;
    font-size: 0.875rem;
}

.hebergement-marseille h2{
    font-size: 1rem;
    font-family: 'raleway-black';
    margin-top: 0.625rem;
}   

.hebergement-marseille p i{
    color:#0065FC;
    font-size: 0.9rem;
}

div.auberge{
    width: 85%;
    margin:0 auto;
    border:4px white solid;
    
    border:4px white solid;
    border-radius:1.2rem;
    box-shadow: 0 0 5px rgba(0, 0,0,0.3);
    margin-bottom: 2rem;
    
}   
div.auberge div.image{
    aspect-ratio: 426/150;
    
}


div.image img{
    width: 100%;
    object-fit: cover;}

    



.hebergement-marseille p.afficher{
    width: 76.5%;
    margin:0 auto;
    font-family: 'raleway-semibold';
    font-size: 1.2rem;
    margin-top:2rem;
}

div.hebergement-marseille{
    width: 90%;
    margin-bottom: 3rem;
    margin:auto;
}
 @media (min-width:1200px){
     .container-main{
         width: 90%;
         margin:auto;
         background-color: chocolate;
         display:flex;
     }
     div.hebergement-marseille{
         width: 65%;
         background-color: cornflowerblue;
     }
     div.section-auberge{
         width: 100%;
         display:flex;
         flex-wrap: wrap;

     }
     div.auberge{
         width:27%;
     }
     .hebergement-marseille p.title{
         line-height: 5rem;
         padding:0;
     }
     div.auberge div.image{
         aspect-ratio: 283/137;
     }
     div.auberge div.image{
         object-fit: cover;
     }
     div.plus-populaire{
         width: 32%;
         order:2;
     }
     div.titre-hotel{
         margin:0;
     }

     }

     }
 }

    
    
   
    
       
    
    
 
    

  


    

/* *************************************** */
/* la section de 'activites a marseille */
/* ************************************** */
.container-activite{
    width: 85%;
    margin: 0 auto;
}
.image-vieux-port,
.image-calanque
{
    width: 100%;
    aspect-ratio: 432/177;
    overflow: hidden;
}
.image-vieux-port img,
.image-calanque img
{
    object-fit: cover;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0 ;
}
div.activite-vieux-port p,
div.activite-calanque p
{
width: 100%;
margin:0 auto;
/* background-color: cyan; */
line-height: 3rem;
text-indent: 3rem;
border-radius:0 0 1.5rem 1.5rem;
}
div.activite-vieux-port,
div.activite-calanque,
div.activite-pomegue,
div.activite-frioul,
div.activite-garde,
div.activite-longchamps
{
    box-shadow: 0 0 5px rgba(0, 0,0,0.3);
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

.image-pomegue,
.image-frioul,
.image-garde,
.image-longchamps
{
    width:100%;
    aspect-ratio: 432/177;
    overflow: hidden;
}
.image-pomegue img,
.image-frioul img,
.image-garde img,
.image-longchamps img
{
    object-fit: cover;
    width: 100%;
    border-radius: 1.5rem 1.5rem 0 0 ;
}
div.activite-pomegue p,
div.activite-frioul p,
div.activite-garde p, 
div.activite-longchamps p,
div.activite-vieux-port p,
div.activite-calanque p
{
    width: 100%;
    margin:0 auto;
    font-size: 1.0rem;
    line-height: 3rem;
    text-indent: 1rem;
    border-radius:0 0 1.5rem 1.5rem;
    font-family: 'raleway-black';
    }
div.section-activite h2{
    width: 85%;
    margin:2rem auto;
    font-family: 'raleway-black';
    font-size: 1.3rem;
    
}
div.section-activite{
    width: 90%;
    margin:3rem auto;
}
/* ************************ */
@media (min-width:1200px){
   .section-activite {
       width: 90%;
       margin:auto;
       
   }
   div.section-activite h2{
    width: 100%;
    margin:2rem auto;
    font-family: 'raleway-black';
    font-size: 1.3rem;
       
    
   }
     
    div.container-activite{
        width: 100%;
        /* background-color: aqua; */
        display:flex;
        justify-content: space-between;
       
    }
    
    div.activite-pomegue-frioul,
    div.activite-vieux-port,
    div.activite-calanque,
    div.activite-garde-longchamps
    
    {
        width: 23%;
    }
    div.activite-pomegue,
    div.activite-frioul,
    div.activite-garde,
    div.activite-longchamps{
        width: 100%;
    }
    div.activite-pomegue-frioul,
    div.activite-garde-longchamps
    {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    div.image-vieux-port,
    div.image-calanque
    {
        width:100%;
        aspect-ratio: 288/370;
        }
    div.image-vieux-port img,
    div.image-calanque img
    {
        width: 100%;
        height: 100%;
        }
            
        
    
}
    
    

    

    
    
    


    



/************************* */
/* footer */
/* *********************** */
div.footer{
    width: 90%;
    background-color:#F2F2F2 ;
    margin:1.8rem auto;
    padding-bottom:1rem;
}

div.foot-desc h3,
div.foot-desc p {              
    margin-left: 2rem;
}

div.foot-desc h3{
    padding-top:3rem;
    padding-bottom:1rem;
    font-family: 'raleway-black';
}



    
    

    
